In [1]:
import json
from utils.utils import get_lev, get_user_station, get_user_dates
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd
from openai import OpenAI

In [2]:
auth_key = "MTQ1Zjk2YTMtOWI2YS00MzUyLWIwN2QtZDkxZGU3N2UzMTg1OmM0YmRkOTIzLWY2ZDctNDk4MC04OTBjLWM2ZDk0NzQ0YmRhYQ=="

In [3]:
date_now = '2022-09-01'
user_message = 'Водный стадион за вчера'

with open('ProxyapiSecret.txt', 'r') as file:
    my_api_key = file.read()

In [4]:
%timeit

user_station = get_user_station(auth_key=auth_key, user_message=user_message)
user_dates = get_user_dates(api_key=my_api_key, user_message=user_message, date_now=date_now)

/Users/alexander/Учёба/ХАКАТОНЫ/Nuclear Hack/nuclear-hack/.venv/lib/python3.11/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ngw.devices.sberbank.ru'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
/Users/alexander/Учёба/ХАКАТОНЫ/Nuclear Hack/nuclear-hack/.venv/lib/python3.11/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gigachat.devices.sberbank.ru'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [5]:
user_station

'Водный стадион'

In [7]:
user_dates

{'end_date': '2022-08-31 00:00', 'start_date': '2022-08-01 00:00'}

In [8]:
all_station = pd.read_csv("Data/unique_stations.csv")
all_station

              Станция
0     Б.Рокоссовского
1        Черкизовская
2    Преображенск. пл
3       Сокольники СЛ
4      Красносельская
..                ...
309  Аэропорт Внуково
310         Яхромская
311         Лианозово
312            Физтех
313   Текстильщики СЦ

[314 rows x 1 columns]

In [9]:
%time

get_lev(metro_data=all_station, user_station=user_station)

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.25 µs

            station  lev
35   Водный Стадион  100
87             ВДНХ   68
104     Тёплый стан   56